Repository nasa/oceandata-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: repo2docker-requirements, update-setup-py

repo2docker-requirements:
  name: repo2docker-requirements
  language: python
  additional_dependencies:
  - jupyter-repo2docker>=2024.7.0
  pass_filenames: false
  entry: repo2docker --volume hub/requirements.in:./out hub sh -c "pip list --format=freeze > out"

update-setup-py:
  name: update-setup-py
  language: python
  additional_dependencies:
  - tomlkit>=0.13.2
  entry: python update-setup.py -o book/setup.py

wild guesses
  docker/appendix
  docker/pangeo-start
Due: none

get goofys from smce-image
  docker/appendix
  docker/apt.txt
  docker/pangeo-start
Due: none

pin repo2docker
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

env and aws
  .pre-commit-config.yaml
  docker/appendix
  docker/start
  pyproject.toml
Due: none

env and aws
  .pre-commit-config.yaml
  docker/appendix
  docker/start
Due: none

manual stage
  .pre-commit-config.yaml
  docker/start
Due: none

start broke it
  docker/start
Due: none

s3-readonly
  docker/appendix
Due: none

organization as username
  .github/workflows/repo2docker.yaml
Due: none

move authors
  .pre-commit-config.yaml
  README.md
  docker/appendix
  pyproject.toml
Due: none

add citation actually
  CITATION.cff
Due: none

autoformatting compatibility
  pyproject.toml
Due: none

replace update-setup with uv; dep-groups
  .pre-commit-config.yaml
  book/index.md
  book/setup.py
  book/update-setup.py
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

add description
  .pre-commit-config.yaml
Due: none

with hackweek improvements
  README.md
  book/notebooks/oci/oci_data_access.ipynb
  book/src/oci/oci_data_access.py
  pyproject.toml
Due: none

point to help hub
  README.md
  pyproject.toml
Due: none

links and edits
  README.md
Due: none

allow hidden files in jlab
  docker/appendix
  docker/apt.txt
  docker/jupyter_server_config.json
Due: none

uv add --optional docker boto3
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

Add files via upload
  Land_tutorial.ipynb
Due: none

initial submission
  book/src/oci/Land_tutorial.py
Due: none

dask-gateway, lab config
  README.md
  docker/appendix
  docker/overrides.json
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

up rasterio, add lz4
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

dask config, mostly
  README.md
  docker/appendix
  docker/prefix/etc/dask/distributed.yml
  docker/prefix/etc/jupyter/jupyter_server_config.json
  docker/prefix/share/jupyter/lab/settings/overrides.json
Due: none

no longer a problem
  docker/appendix
Due: none

optional (docker) packages
  .pre-commit-config.yaml
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

add pyinterp
  .pre-commit-config.yaml
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

pyinterp from conda-forge
  README.md
  docker/environment.yml
  docker/requirements.in
  docker/requirements.txt
  uv.lock
Due: repo2docker-requirements

Anna's edits to land tutorial notebook
  book/src/Land_tutorial.py
Due: none

moved land tutorial to oci folder
  book/src/oci/Land_tutorial.py
Due: none

delete Land_tutorial.py
  book/src/Land_tutorial.py
Due: none

moved Land_tutorial.ipynb to book/notebooks/oci
  book/notebooks/oci/Land_tutorial.ipynb
Due: none

jupytext sync to book
  book/notebooks/L3_files_read_plot.ipynb
  book/notebooks/download_read_visualize_L2_products.ipynb
  book/notebooks/read_plot_L2_chlorophyll_map_with_xarray.ipynb
  book/src/L3_files_read_plot.py
  book/src/download_read_visualize_L2_products.py
  book/src/read_plot_L2_chlorophyll_map_with_xarray.py
Due: none

fonts from texlive and ms
  docker/apt.txt
Due: none

reviewed land tutorial and created nc to gtiff notebook draft
  book/src/oci/oci_nc_to_gtiff.py
  book/src/oci/oci_terrestrial_data.py
Due: none

new deps, format fixes
  .pre-commit-config.yaml
  book/setup.py
  docker/requirements.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: repo2docker-requirements, update-setup-py

formatting and minor fix
  book/notebooks/oci/oci_nc_to_gtiff.ipynb
  book/notebooks/oci/oci_terrestrial_data.ipynb
  book/src/oci/oci_nc_to_gtiff.py
  book/src/oci/oci_terrestrial_data.py
Due: none

remove old notebook
  book/notebooks/oci/Land_tutorial.ipynb
  book/src/oci/Land_tutorial.py
Due: none

removed bit flag part of land tutorial
  book/src/oci/oci_terrestrial_data.py
Due: none

finished VI examples
  book/src/oci/oci_terrestrial_data.py
Due: none

Path conditions:
  repo2docker-requirements: any of: ^(uv\.lock|hub/environment\.yml)$
  update-setup-py: any of: ^requirements\.txt$
