Repository nasa/oceandata-notebooks: changes, and which pre-commit hooks are due for each by the changed paths.
All: repo2docker-requirements, update-setup-py

repo2docker-requirements:
  name: repo2docker-requirements
  language: python
  additional_dependencies:
  - jupyter-repo2docker>=2024.7.0
  pass_filenames: false
  entry: sh -c 'repo2docker --volume ${PWD}/repo2docker:./ repo2docker sh -c "pip list --format=freeze > requirements.in"'

update-setup-py:
  name: update-setup-py
  language: python
  additional_dependencies:
  - tomlkit>=0.13.2
  entry: python update-setup.py

working out locked deps
  .pre-commit-config.yaml
  NOTICE
  hub/.gitignore
  hub/appendix
  hub/environment.yml
  hub/requirements.in
  hub/requirements.txt
  pyproject.toml
  repo2docker/.gitignore
  src/jupytext.toml
  uv.lock
Due: repo2docker-requirements

elimate postBuild
  .pre-commit-config.yaml
  hub/.gitignore
  hub/appendix
  hub/environment.yml
  hub/start
Due: none

workflows with ghcr
  .github/workflows/conda-lock.yaml
  .github/workflows/repo2docker.yaml
Due: none

cleanup
  .github/workflows/repo2docker.yaml
Due: none

Revert "cleanup"
  .github/workflows/repo2docker.yaml
Due: none

restore cancel
  .github/workflows/repo2docker.yaml
Due: none

try permission
  .github/workflows/repo2docker.yaml
Due: none

fix permission
  .github/workflows/repo2docker.yaml
Due: none

fix permissions
  .github/workflows/repo2docker.yaml
Due: none

pre-commit's own hooks
  .pre-commit-config.yaml
  src/_build/html/_sources/notebooks/hackweek/dask_gridding.ipynb
  src/_build/html/_sources/notebooks/hackweek/earthdata_cloud_access.ipynb
  src/_build/html/_sources/notebooks/hackweek/ml_cloud_mask.ipynb
  src/_build/html/_sources/notebooks/hackweek/ocssw_processing.ipynb
  src/_build/html/_sources/notebooks/hackweek/satdata_visualization.ipynb
  src/_build/html/_sources/notebooks/hackweek/satellite_insitu_matchups.ipynb
  src/_build/html/_sources/notebooks/hackweek/satellite_insitu_matchups_thomas.ipynb
  src/_build/html/_sources/notebooks/harp2/harp2_basic_visualizations.ipynb
  src/_build/html/_sources/notebooks/oci/oci_gridding.ipynb
  src/_build/html/_sources/notebooks/oci/oci_ocssw_install.ipynb
  src/_build/html/_sources/notebooks/oci/oci_ocssw_processing.ipynb
  src/_build/html/_sources/notebooks/oci/oci_visualization.ipynb
  src/_build/html/_sources/notebooks/spexone/spexone_data_access.ipynb
  src/_ext/source_button.py
  src/_toc.yml
  src/notebooks/hackweek/dask_gridding.py
  src/notebooks/hackweek/earthdata_cloud_access.py
  src/notebooks/hackweek/ml_cloud_mask.py
  src/notebooks/hackweek/ocssw_processing.py
  src/notebooks/hackweek/satdata_visualization.py
  src/notebooks/hackweek/satellite_insitu_matchups.py
  src/notebooks/hackweek/satellite_insitu_matchups_thomas.py
  src/notebooks/harp2/harp2_basic_visualizations.py
  src/notebooks/oci/oci_gridding.py
  src/notebooks/oci/oci_ocssw_install.py
  src/notebooks/oci/oci_ocssw_processing.py
  src/notebooks/oci/oci_visualization.py
  src/notebooks/spexone/spexone_data_access.py
Due: none

pre-commit ruff
  .pre-commit-config.yaml
  COPYME.ipynb
  pyproject.toml
  src/_build/html/_sources/notebooks/hackweek/satdata_visualization.ipynb
  src/_build/html/_sources/notebooks/harp2/harp2_basic_visualizations.ipynb
  src/_build/html/_sources/notebooks/modis/modis_explore_l2.ipynb
  src/_build/html/_sources/notebooks/oci/oci_gridding.ipynb
  src/_build/html/_sources/notebooks/oci/oci_ocssw_install.ipynb
  src/_build/html/_sources/notebooks/oci/oci_ocssw_processing.ipynb
  src/_build/html/_sources/notebooks/oci/oci_visualization.ipynb
  src/notebooks/hackweek/satdata_visualization.py
  src/notebooks/harp2/harp2_basic_visualizations.py
  src/notebooks/modis/modis_explore_l2.py
  src/notebooks/oci/oci_gridding.py
  src/notebooks/oci/oci_ocssw_install.py
  src/notebooks/oci/oci_ocssw_processing.py
  src/notebooks/oci/oci_visualization.py
  uv.lock
Due: repo2docker-requirements

cleanup
  src/_build/html/_sources/notebooks/hackweek/satdata_visualization.ipynb
  src/notebooks/hackweek/satdata_visualization.py
Due: none

setup bash kernel
  pyproject.toml
  requirements.txt
  src/index.md
  src/setup.py
  uv.lock
Due: repo2docker-requirements, update-setup-py

additional lint and format rules
  .pre-commit-config.yaml
  src/_build/html/_sources/notebooks/oci/oci_data_access.ipynb
  src/_ext/source_button.py
  src/setup.py
  update-setup.py
Due: none

ruff on ipynbs
  .pre-commit-config.yaml
  pyproject.toml
  src/_build/html/_sources/notebooks/hackweek/dask_gridding.ipynb
  src/_build/html/_sources/notebooks/hackweek/earthdata_cloud_access.ipynb
  src/_build/html/_sources/notebooks/hackweek/ml_cloud_mask.ipynb
  src/_build/html/_sources/notebooks/hackweek/ocssw_processing.ipynb
  src/_build/html/_sources/notebooks/hackweek/satdata_visualization.ipynb
  src/_build/html/_sources/notebooks/hackweek/satellite_insitu_matchups.ipynb
  src/_build/html/_sources/notebooks/hackweek/satellite_insitu_matchups_thomas.ipynb
  src/_build/html/_sources/notebooks/harp2/harp2_basic_visualizations.ipynb
  src/_build/html/_sources/notebooks/modis/modis_explore_l2.ipynb
  src/_build/html/_sources/notebooks/modis/modis_explore_l3.ipynb
  src/_build/html/_sources/notebooks/oci/oci_data_access.ipynb
  src/_build/html/_sources/notebooks/oci/oci_file_structure.ipynb
  src/_build/html/_sources/notebooks/oci/oci_ocssw_processing.ipynb
  src/notebooks/hackweek/dask_gridding.py
  src/notebooks/hackweek/earthdata_cloud_access.py
  src/notebooks/hackweek/ml_cloud_mask.py
  src/notebooks/hackweek/ocssw_processing.py
  src/notebooks/hackweek/satdata_visualization.py
  src/notebooks/hackweek/satellite_insitu_matchups.py
  src/notebooks/hackweek/satellite_insitu_matchups_thomas.py
  src/notebooks/harp2/harp2_basic_visualizations.py
  src/notebooks/modis/modis_explore_l2.py
  src/notebooks/modis/modis_explore_l3.py
  src/notebooks/oci/oci_file_structure.py
  src/notebooks/oci/oci_ocssw_processing.py
Due: repo2docker-requirements

documenting
  README.md
Due: none

jupytext version
  .pre-commit-config.yaml
  src/_build/html/_sources/notebooks/oci/oci_ocssw_install.ipynb
  src/notebooks/oci/oci_ocssw_install.py
Due: none

original notebooks added in 7682ae9
  src/notebooks/L3_files_read_plot.py
  src/notebooks/download_read_visualize_L2_products.py
  src/notebooks/read_plot_L2_chlorophyll_map_with_xarray.py
Due: none

shorter traceback
  book/notebooks/oci/oci_file_structure.ipynb
  book/src/oci/oci_file_structure.py
Due: none

use -o in update-setup
  .pre-commit-config.yaml
  hub/requirements.txt
  requirements.txt
  update-setup.py
Due: update-setup-py

src -> book
  README.md
Due: none

cleanup and docs
  .pre-commit-config.yaml
  README.md
  book/_config.yml
  book/_toc.yml
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

jupytext config
  COPYME.ipynb
  book/_config.yml
  book/notebooks/hackweek/dask_gridding.ipynb
  book/notebooks/hackweek/earthdata_cloud_access.ipynb
  book/notebooks/hackweek/ml_cloud_mask.ipynb
  book/notebooks/hackweek/ocssw_processing.ipynb
  book/notebooks/hackweek/satdata_visualization.ipynb
  book/notebooks/hackweek/satellite_insitu_matchups.ipynb
  book/notebooks/hackweek/satellite_insitu_matchups_thomas.ipynb
  book/notebooks/harp2/harp2_basic_visualizations.ipynb
  book/notebooks/modis/modis_explore_l2.ipynb
  book/notebooks/modis/modis_explore_l3.ipynb
  book/notebooks/oci/oci_data_access.ipynb
  book/notebooks/oci/oci_file_structure.ipynb
  book/notebooks/oci/oci_ocssw_install.ipynb
  book/notebooks/oci/oci_ocssw_processing.ipynb
  book/src/hackweek/dask_gridding.py
  book/src/hackweek/earthdata_cloud_access.py
  book/src/hackweek/ml_cloud_mask.py
  book/src/hackweek/ocssw_processing.py
  book/src/hackweek/satdata_visualization.py
  book/src/hackweek/satellite_insitu_matchups.py
  book/src/hackweek/satellite_insitu_matchups_thomas.py
  book/src/harp2/harp2_basic_visualizations.py
  book/src/modis/modis_explore_l2.py
  book/src/modis/modis_explore_l3.py
  book/src/oci/oci_data_access.py
  book/src/oci/oci_file_structure.py
  book/src/oci/oci_ocssw_install.py
  book/src/oci/oci_ocssw_processing.py
  pyproject.toml
Due: repo2docker-requirements

jupytext config
  book/_config.yml
  book/notebooks/hackweek/dask_gridding.ipynb
  book/notebooks/hackweek/earthdata_cloud_access.ipynb
  book/notebooks/hackweek/ml_cloud_mask.ipynb
  book/notebooks/hackweek/ocssw_processing.ipynb
  book/notebooks/hackweek/satdata_visualization.ipynb
  book/notebooks/hackweek/satellite_insitu_matchups.ipynb
  book/notebooks/hackweek/satellite_insitu_matchups_thomas.ipynb
  book/notebooks/harp2/harp2_basic_visualizations.ipynb
  book/notebooks/modis/modis_explore_l2.ipynb
  book/notebooks/modis/modis_explore_l3.ipynb
  book/notebooks/oci/oci_data_access.ipynb
  book/notebooks/oci/oci_file_structure.ipynb
  book/notebooks/oci/oci_ocssw_install.ipynb
  book/notebooks/oci/oci_ocssw_processing.ipynb
  book/src/hackweek/dask_gridding.py
  book/src/hackweek/earthdata_cloud_access.py
  book/src/hackweek/ml_cloud_mask.py
  book/src/hackweek/ocssw_processing.py
  book/src/hackweek/satdata_visualization.py
  book/src/hackweek/satellite_insitu_matchups.py
  book/src/hackweek/satellite_insitu_matchups_thomas.py
  book/src/harp2/harp2_basic_visualizations.py
  book/src/modis/modis_explore_l2.py
  book/src/modis/modis_explore_l3.py
  book/src/oci/oci_data_access.py
  book/src/oci/oci_file_structure.py
  book/src/oci/oci_ocssw_install.py
  book/src/oci/oci_ocssw_processing.py
  pyproject.toml
Due: repo2docker-requirements

update script adjacent to target
  .pre-commit-config.yaml
  book/update-setup.py
Due: none

rename hub to docker
  .pre-commit-config.yaml
  README.md
  docker/appendix
  docker/apt.txt
  docker/environment.yml
  docker/requirements.in
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

another use of hub changed
  .github/workflows/repo2docker.yaml
Due: none

editing
  README.md
Due: none

add goofys
  docker/appendix
  docker/apt.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

subdir only
  .github/workflows/repo2docker.yaml
Due: none

dir not pattern
  .github/workflows/repo2docker.yaml
Due: none

permissions for goofys
  docker/appendix
Due: none

include goofys prefix in PATH
  docker/appendix
  docker/apt.txt
Due: none

add nbgitpuller
  docker/requirements.txt
  pyproject.toml
  uv.lock
Due: repo2docker-requirements

force repo2docker version
  .github/workflows/repo2docker.yaml
  docker/appendix
  docker/environment.yml
Due: none

correct package name
  .github/workflows/repo2docker.yaml
Due: none

Path conditions:
  repo2docker-requirements: any of: ^pyproject.toml$
  update-setup-py: any of: ^requirements.txt$
